@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-outline.btn-class-0 { @apply text-class-0 }
.btn-outline.btn-class-0:hover, .btn-outline.btn-class-0.btn-active { @apply border-class-0 bg-class-0 text-white }

.btn-outline.btn-class-1 { @apply text-class-1 }
.btn-outline.btn-class-1:hover, .btn-outline.btn-class-1.btn-active { @apply border-class-1 bg-class-1 text-white }

.btn-outline.btn-class-2 { @apply text-class-2 }
.btn-outline.btn-class-2:hover, .btn-outline.btn-class-2.btn-active { @apply border-class-2 bg-class-2 text-white }

.btn-outline.btn-class-3 { @apply text-class-3 }
.btn-outline.btn-class-3:hover, .btn-outline.btn-class-3.btn-active { @apply border-class-3 bg-class-3 text-white }

.btn-outline.btn-class-4 { @apply text-class-4 }
.btn-outline.btn-class-4:hover, .btn-outline.btn-class-4.btn-active { @apply border-class-4 bg-class-4 text-white }

.btn-outline.btn-class-5 { @apply text-class-5 }
.btn-outline.btn-class-5:hover, .btn-outline.btn-class-5.btn-active { @apply border-class-5 bg-class-5 text-white }

/* Masonry styles */
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -8px; /* gutter size offset */
    margin-bottom: -8px;
    width: auto;
}
.my-masonry-grid_column {
     padding-left: 8px; /* gutter size */
    background-clip: padding-box;
}
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    /* background: grey; */
    margin-bottom: 8px;
}
